@import 'node_modules/modern-normalize/modern-normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');


body{
    font-family: 'Roboto', sans-serif;
    color:#757575;
    line-height: 1.2;
}

a:hover{
    color:#2196F3;
}

a{
    text-decoration: none;
    font-style: normal;
    color: #757575;
}


button:hover{
    background-color:#2196F3;
    color:#fff;
    cursor: pointer;
}


ul, li{
    font-style: normal;
    list-style: none;
    padding-left: 0;
}

.logo{
    font-family: "Raleway", sans-serif;
    color:#2196F3;
    font-size: 26px;
}

footer,
.hero{
    background-color: #2F303A;
    color:#fff;
}

.link_nav_bar{
    font-weight: 500;
    color:#000;
}

.title_studio{
    font-size: 44px;
}

.button_hero_studio{
    background-color: #2196F3;
    color: #fff;
    font-size: 16px;
}

.button_hero_studio:hover{
    background-color: #1380da;
}